/*! =========================================================
@name             color_variables.css
@description      UNHCR color variables
@lastUpdated      01.12.2021
============================================================= */

:root {
  --unhcr-white: #FFFFFF;
  --unhcr-black: #000000;
  --unhcr-blue: #0072BC;
  --unhcr-lightblue: #DCE9FF;
  --unhcr-grey: #666666;
  --unhcr-lightgrey: #E6E6E6;
  --unhcr-mediumgrey: #CCCCCC;
  --unhcr-darkgrey: #333333;
  --unhcr-navy: #18375F;
  --unhcr-green: #00B398;
  --unhcr-red: #EF4A60;
  --unhcr-yellow: #FAEB00;
  --unhcr-lightyellow: #FFF9CB;
}